{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <!-- Implementacion css -->
  <link href="{% static 'core/CSS/listar_peliculas.css' %}" rel="stylesheet" type="text/css" />
  <!-- Implementacion bootstrap css -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  <title>Listar carreras</title>
</head>

<body>
  <h1>Listar peliculas </h1>
  <div class="container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Titulo</th>
          <th>Fecha Estreno</th>
          <th>Duración</th>
          <th>Ranking IMDB</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for m in movies %}
        <tr>
          <th scope="row">{{ m.title}} </th>
          <td>{{ m.release_date }}</td>
          <td>{{ m.runtime }}</td>
          <td>{{ m.imdb_rating}}</td>

          <td><a class="btn btn-primary" href="{% url 'show_movie' m.id %}">Ver Detalles</a></td>
          <td><a class="btn btn-danger" href="{% url 'delete' m.id %}">Eliminar</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
  <footer>

    <a id="volver" href="{% url 'menu' %}">Volver</a>

  </footer>

</body>

</html>