body{
    background-image: url(http://3.bp.blogspot.com/-hADZIDdJTHA/UhuCQu03FsI/AAAAAAAAACc/2KPujDMRQf4/s1600/Esqueletodeterror.png);
}
h1{
    color: white;
    text-align: center;
}

th {
    color:white;
}
td{
    color:white;
}